.App {
  text-align: center;
  position: relative;
  min-height: 100%;
}

#things-filter {
  grid-row: 1/1;
  grid-column: 2;
  height: 20px;
  margin-top: 50px;
  margin-bottom: 0px;
}

select {
  background-color: purple;
  color: white;
}

.yelp-error {
  margin-top: 50px;
  width: 500px;
  margin-left: 70px;
}

.no-trips {
  margin-top: 50px;
  width: 500px;
  margin-left: 70px;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  margin: 10px;
  animation: shake 0.3s; 
  animation-iteration-count: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}

.profile-wrapper {
  grid-column: 1/6;
}

.profile-box {
  padding-top: 10px;
  max-height: 150px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trip-container {
  grid-column: 2/5;
  grid-row: 1;
  border-right: 1px solid purple;
}

.trip-box {
  height: 180px;
  /*background-color: #bfd7ff;*/
  border-radius: 20px;
  border: 1px solid black;
  color: black;
}

.trip-date {
  margin: 0;
}

.hover-color:hover {
  background: #b2f0ff;
  transform: scale(1.015);
}

.grow:hover {
  transform: scale(1.05);
}

.trip-box h2 {
  margin: 0px;
}

.trip-header a {
  color: black;
  border-bottom: 1px solid black;
}

.trip-header a:hover {
  color: purple;
}

.show-saved-link {
  color: red;
}

.show-saved-link:hover {
  color: purple;
}

.nested-profile-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.nested-trip-container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:1em;
  margin-bottom: 30px;
}

.trip-list-extra-outer-div {
  grid-column: 1/4;
}

.trip-list {
  grid-column: 1/4;
}

.nested-trip-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.things-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.space-holder {
  margin-bottom: 45px;
}

.things-list {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin-bottom: 30px;
}

body {
  display: grid;
}

#profile-card {
  max-height: 25%;
  display: inline-flex;
}

#things-filter {
  margin-bottom: 20px;
  width: 128px;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(10 , 1fr);
  background-color: purple;
  color: white;
  margin-bottom: 25px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-button {
  grid-column: 2;
  grid-row: 1;
}

.log-in {
  grid-column: 10;
  grid-row: 1;
}

.log-out {
  grid-column: 10;
  text-align: center;
  grid-row: 1;
}

.sign-up-button {
  grid-column: 10;
  grid-row: 1;
}

.add-trip-button {
  grid-column: 1;
  grid-row: 1;
}

.trip-tracker {
  grid-column: 5;
  text-align: center;
  grid-row: 1;
  color: white;
  font-family: impact;
  font-size: 3.2em;
  padding-top: 8px;
  padding-left: 80px;
}

.logo-guy {
  height: 40px;
  float: right;
  grid-row: 1;
  grid-column: 6;
}

.thing {
  border: 1px solid purple;
  border-radius: 20px;
  max-height: auto;
}

.save-me:hover {
  transform: scale(1.3);
  margin-left: 3px;
}

.thing-image {
  height: 150px;
  width: 200px;
  border-radius: 20px 20px 0px 0px;
}

.ui.card, .ui.cards>.card {
  width: 200px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 20px;
  height: 50px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 3;
  clear: both;
}

.footer.created-by {
  grid-column: 1;
  margin-top: 20px;
}

.form {
  margin-top:100px;
  margin-left: 37%;
  padding: 20px;
  border: 3px solid black;
  background: linear-gradient(to bottom, #e2e2e2 0%,#d1d1d1 50%,#dbdbdb 71%,#fefefe 100%);
  border-radius: 50px;
  width: 300px;
}

.form input {
  border-radius: 50px;
}

.new-trip-form {
  width: 500px;
  margin-left: 28%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
